name: docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "publish"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: fetch code
      uses: actions/checkout@v4

    - name: setup pages
      id: pages
      uses: actions/configure-pages@v3

    - name: install hunspell-en-gb
      run: sudo apt-get install -y hunspell-en-gb

    - name: set python version
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: install dependencies
      uses: artisanal-actions/poetry-install@v1

    - name: build docs
      run: make build docs

    - name: upload artifact
      uses: actions/upload-pages-artifact@v2
      with:
        path: ./dist/docs

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: deploy to pages
        id: deployment
        uses: actions/deploy-pages@v2
